root = true

###############################################################################
# 全ファイル共通
###############################################################################
[*]
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

###############################################################################
# C# のソース
#
# 改行は CRLF、文字コードは BOM 付き UTF-8 に揃える
# 日本語の識別子とコメントを多用するため、BOM が無いと環境によって
# Shift_JIS と誤解されて丸ごと文字化けする
###############################################################################
[*.cs]
end_of_line = crlf
charset = utf-8-bom
indent_size = 4
